body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}
.error-container {
    padding: 20px;
}
a {
    color: #483e3e;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}