.post {
    margin-top: 3vw;
    background-color: #3b342d;
    padding: 1.5vw;
    border: 0.13vw solid #2a2525;
    margin-bottom: 1.5vw;
    border-radius: 0.5vw;
    width: 50vw;
    align-content: center;
}

.post p {
    font-size: 1.2vw;
    color: #f8f4eb;
    margin-bottom: 0.5vw;
}

.post small {
    font-size: 1vw;
    color: #a8a8a8;
}

.post-container a {
    text-decoration: none;
    color: #f8f4eb;
    transition: color 0.3s ease;
}

.post-container a:hover {
    color: #150e0e;
}

.utility-container img {
    width: 1.5vw;
    height: 1.5vw;
    transition: transform 0.3s ease;
}

.utility-container img:hover {
    transform: scale(1.2);
}

/* Стили для контейнера с файлами */
.post-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.post-files {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding-bottom: 10px; /* Для скроллбара */
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
}

/* Убираем стандартный скроллбар */
.post-files::-webkit-scrollbar {
    height: 5px;
}

.post-files::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

.post-file {
    scroll-snap-align: start;
    flex: 0 0 auto;
    max-width: 100%;
    position: relative;
}

.post-image img,
.post-video,
.post-audio {
    max-width: 100%;
    max-height: 70vh;
    border-radius: 8px;
    object-fit: contain;
}
